<!-- turtlebot simulation with various options as arguments -->

<launch>
  <arg name="world"  default="$(find bstars_sim)/worlds/turtlebot_hallway_world.world"/>
  <arg name="gmapping" default="false"/>
  <arg name="amcl" default="false"/>
  <arg name="amcl_map" default="$(find bstars_sim)/maps/sim_hallways_modified.yaml"/>

  <include file="$(find turtlebot_gazebo)/launch/turtlebot_world.launch">
    <arg name="world_file" default="$(arg world)"/>
  </include>

  <!-- gmapping options -->
  <group if="$(arg gmapping)">
    <!-- start up the interactive markers to control the robot in RVIZ -->
    <include file="$(find turtlebot_interactive_markers)/launch/interactive_markers.launch"/>

    <!-- rviz viewer with sensors and robot -->
    <include file="$(find turtlebot_rviz_launchers)/launch/view_robot.launch"/>

    <!-- gmapping demo (consider changing some parameters here)-->
    <include file="$(find turtlebot_gazebo)/launch/gmapping_demo.launch"/>

    <!-- rviz viewer for gmapping -->
    <node name="rviz_nav" pkg="rviz" type="rviz" args="-d $(find turtlebot_rviz_launchers)/rviz/navigation.rviz"/>
  </group>

  <!-- amcl options -->
  <group if="$(arg amcl)">
    <!-- Map server -->
  	<node name="map_server" pkg="map_server" type="map_server" args="$(arg amcl_map)" />

    <!-- Localization -->
    <arg name="initial_pose_x" default="8.65"/>
    <arg name="initial_pose_y" default="8.05"/>
    <arg name="initial_pose_a" default="0.0"/>
    <include file="$(find turtlebot_navigation)/launch/includes/amcl/amcl.launch.xml">
      <arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
      <arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
      <arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
    </include>

	  <!-- Move base -->
	  <include file="$(find turtlebot_navigation)/launch/includes/move_base.launch.xml">
      <arg name="custom_param_file" value="$(find bstars_sim)/param/sim_params.yaml"/>
    </include>

    <!-- rviz viewer for amcl -->
    <node name="rviz_nav" pkg="rviz" type="rviz" args="-d $(find turtlebot_rviz_launchers)/rviz/navigation.rviz"/>
  </group>

</launch>