<!--Basic launch file to have the turtlebot up and running-->

<launch>
  <!-- input arguments -->
  <arg name="amcl" default="false"/>
  <arg name="waypoints" default="false"/>
  <arg name="map_file" default="$(find bstars_navigation)/maps/utias_hallways.yaml"/>

  <!--Core packages to run turtlebot-->
  <include file="$(find turtlebot_bringup)/launch/minimal.launch">
    <arg name="3d_sensor" value="astra" />
  </include>

  <!--Camera driver for arbbec camera-->
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video1" />
    <param name="image_width" value="1280" />
    <param name="image_height" value="720" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>

  <!--Camera driver for netbook webcam-->
  <node name="web_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="640" />
    <param name="image_height" value="480" />
    <param name="pixel_format" value="yuyv" />
    <param name="camera_frame_id" value="usb_cam" />
    <param name="io_method" value="mmap"/>
  </node>

  <!--Qr code readers for both cameras -->
  <include file="$(find qr_listener)/launch/dual_camera.launch"/>

  <!--ps3 controller-->
  <!-- consider adding the sixad -s to this file as well (through a shell script) -->
  <!--  smooths inputs from cmd_vel_mux/input/teleop_raw to cmd_vel_mux/input/teleop -->
  <include file="$(find turtlebot_teleop)/launch/includes/velocity_smoother.launch.xml"/>

  <node pkg="turtlebot_teleop" type="turtlebot_teleop_joy" name="turtlebot_teleop_joystick">
    <param name="scale_angular" value="1.5"/>
    <param name="scale_linear" value="0.5"/>
    <param name="axis_deadman" value="10"/>
    <param name="axis_linear" value="1"/>
    <param name="axis_angular" value="0"/>
    <remap from="turtlebot_teleop_joystick/cmd_vel" to="teleop_velocity_smoother/raw_cmd_vel"/>
  </node>

  <node pkg="joy" type="joy_node" name="joystick">
    <param name="dev" value="/dev/input/js1"/>
  </node>

  <!-- amcl -->
  <group if="$(arg amcl)">
    <!-- start up amcl with map-->
    <include file="$(find bstars_navigation)/launch/bstars_amcl.launch">
      <arg name="map_file" default="$(arg map_file)"/>
      <arg name="waypoints" default="$(arg waypoints)"/>
      <arg name="waypoints_dropper" default="$(arg waypoints_dropper)"/>
      <arg name="custom_param_file" value="$(find bstars_navigation)/param/nav_params.yaml"/>
    </include>
  </group>
  

</launch>
